/* Обнуляем стандартные стили браузера */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Общие стили для всего сайта */
body {
    font-family: Arial, sans-serif; /* Шрифт */
    background-color: #f8f8f8; /* Цвет фона */
    color: #333; /* Цвет текста */
    overflow-x: hidden; /* Убираем горизонтальную прокрутку на всех устройствах */
}

/* Шапка сайта */
header {
    background-color: #ffffff; /* Цвет фона шапки */
    padding: 20px; /* Отступы */
    text-align: center; /* Выравнивание текста по центру */
}

h1 {
    font-size: 48px; /* Размер шрифта названия кафе */
}

nav ul {
    list-style-type: none; /* Убираем стандартные маркеры списка */
    margin-top: 20px; /* Отступ сверху для меню */
}

nav ul li {
    display: inline; /* Элементы меню в строку */
    margin-right: 20px; /* Отступы между пунктами меню */
}

nav ul li a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: #000000; /* Цвет текста категорий */
    transition: color 0.3s; /* Плавный переход при изменении цвета */
}

nav ul li a:hover {
    color: #FFD700; /* Цвет текста категорий при наведении */
}

/* Основное содержимое сайта */
main {
    padding: 20px; /* Отступы */
}

/* Секции сайта */
section {
    margin-bottom: 40px; /* Отступ между секциями */
}

h2 {
    font-size: 36px; /* Размер шрифта заголовков секций */
}

.promotion-content img {
    max-width: 100%; /* Изображения акций на всю ширину контейнера */
    height: auto; /* Автоматическая высота */
}

.about-content img {
    float: left; /* Обтекание текстом слева */
    margin-right: 20px; /* Отступ справа от изображения */
}

/* Подвал сайта */
footer {
    background-color: #ffffff; /* Цвет фона подвала */
    padding: 20px; /* Отступы */
    text-align: center; /* Выравнивание текста по центру */
}

/* Обнуление стандартных стилей браузера для адаптивного дизайна */
@-ms-viewport { 
    width: device-width; 
} 

body { 
    -ms-overflow-style: scrollbar; 
} 

@media screen and (max-width: 480px) { 
    html, body { 
        min-width: 320px; 
    } 
}
